@font-face {
    font-family: 'ScreenMatrix';
    src: url("/fonts/ScreenMatrix.ttf") format("truetype");
}

* {
    font-family: 'ScreenMatrix', sans-serif;
    color: #fff;
}

body,html {
    background: #B20101;
    background: linear-gradient(-135deg,rgba(178, 1, 1, 1) 0%, rgba(92, 6, 6, 1) 100%) fixed;
}

body {
    margin: 5%;
}

.baton {
    background-color: #d96c6c;
    border-radius: 15px;
    padding: 0.5%;
    transition: all 0.3s ease;
}

.baton:hover {
    background-color: #fd9f9f;
    transform: scale(125%);
    transition: all 0.3s ease;
}